

.driverPassenger-block {

}
.block-user {
  border: 3px solid rgba(187, 187, 187, 0.47);
  //background: linear-gradient(90deg, #e2e2e2 0%, #f1d853 100%);
  font-family: Tahoma;
  //background: rgb(120, 120, 120);
  box-shadow: 0 10px 10px -10px ;
  border-radius: 2px;
  //padding: 7px;
  padding-left: 15px;
  align-items: center;
  display: flex;
  justify-content: space-between;
  margin-top: 8px;
}
