.header {
  display: flex;
  height: 60px;
  align-items: center;
  background-color: rgba(255, 255, 0, 0.82);
}
.user-info {
  margin-left: 10px;
}
.user-input {
  border: none;
  outline: none;
  background-color: #e5e509;
  font-size: 20px;
  width: 110px;
}
.user-name {
  font-size: 20px;
  width: 110px;
}
.img-icon {
  height: 50px;
}
.user-info-name {
  display: flex;
  align-items: center;
  .change_name {
    padding: 0 8px 0;
    background-color: inherit;
    border: none;
    //transform: rotate(45deg);
  }
}